#unique {
    color: orange;
}

.text {
    color: purple;
}

div p {
    color: yellow;
}

p {
    color: red;
}

body {
    background-color: black;
}

/* this rule applies to everything */
* {
 box-sizing: border-box;
}